.chart-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px; /* Assurez-vous que la marge est la même que pour le composant chart2 */
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Hauteur automatique pour s'adapter au contenu */
  max-width: 80%; /* Limitez la largeur maximale à 80% de la largeur de la fenêtre */
  margin: 10px auto; /* Marge extérieure pour centrer le conteneur */
}


.chart-wrapper {

  display: flex;
  flex: 0.5; /* Réduisez la taille du composant pour qu'il occupe 50% de l'espace disponible */
  max-width: 200px; /* Réduisez la largeur maximale à 150px */
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin: 10px; /* Ajoute une marge autour des graphiques */
}
.chart-title {
  display: flex;
  font-size: 70px;
  font-weight: bold;
  justify-content: center; /* Alignement horizontal au centre */
  align-items: center; /* Alignement vertical au centre */
  background-color: rgb(109, 25, 125);
}

.chart-description {
  text-align: justify; /* Alignement justifié du texte */
  font-size: 20px; /* Taille de la police */
  line-height: 1.6; /* Hauteur de ligne */
  margin-bottom: 20px; /* Marge inférieure */
  font-weight: bold;
  margin-right: 30px;

}

.chart-description p {
  margin-bottom: 10px; /* Marge inférieure pour les paragraphes */
}

.chart-description strong {
  font-weight: bold; /* Texte en gras */
}

.chart-description em {
  font-style: italic; /* Texte en italique */
}