
.container{
    display:flex;
    margin: auto;
    margin-top: 200px;
    width:100%;
    background:#fff ;
    padding-bottom: 30px;

}
.left-half {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 160px;
    margin-left: 40px;
    width: calc(50% - 40px); /* Utilisation de calc() pour ajuster la largeur en fonction de l'écran */

}

.right-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 40px); /* Utilisation de calc() pour ajuster la largeur en fonction de l'écran */

}

.right-half img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste la taille de l'image pour qu'elle couvre entièrement la div */
    max-width: 100%; /* Image réactive */

}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100% ;
    margin-bottom: 30px;

}

.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}
.text{
    color: #3c009d;
    font-size: 30px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height: 6px;
    background-color: #3c009d;
    border-radius: 9px;

}

.inputs{
    margin-top: 55 px;
    display: flex; 
    flex-direction: column;
    gap: 25px;
}
.input{
    display:flex ;
    align-items:center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: #eaeaea;
    border-radius: 6px;
    
}

.input img{
    margin: 0px 30px;
}
.input input{
    height:50px;
    width: 400px;
    background: transparent;
    border:  none;
    outline: none;
    color: #797979;
    font-size: 19px;

}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px; 
}

.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajustement de la largeur pour s'adapter à la taille de l'écran */
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.submit:hover {
    background: #380885; /* Changez la couleur au survol */
}
.submit1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajustement de la largeur pour s'adapter à la taille de l'écran */
    height: 59px;
    color: #fff;
    background: #9387a4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.submit1:hover {
    background: #453d53; /* Changez la couleur au survol */
}

.d {
    margin-top: 25px; /* Ajustez la marge vers le haut pour l'espacement */
    margin-left: 120px; /* Ajustez la marge vers la gauche pour l'espacement horizontal */
    align-self: flex-start; /* Alignez-le sur le côté supérieur du conteneur parent */
    display: flex; /* Utilisez flexbox pour aligner verticalement le contenu */
    align-items: center; /* Alignez verticalement le contenu au centre */
}

/* Style pour l'image à l'intérieur du lien */
.d img {
    width: 300px; /* Ajustez la taille de l'image */
    height: auto; /* Laissez la hauteur s'ajuster automatiquement */
    margin-right: 10px; /* Ajoutez une marge à droite pour l'espacement */
}
.error {
    margin-top: 10px; /* Ajoutez une marge en haut pour l'espacement */
    margin-left: 120px; /* Ajoutez une marge à gauche pour l'espacement horizontal */
    color: red; /* Changez la couleur du texte en rouge pour les messages d'erreur */
}

