.container{
    display:flex;
    margin: auto;
    margin-top: 100px;
    width:100%;
    background:#fff ;
    padding-bottom: 30px;
}
.left-half {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 160px;
    margin-left: 40px;
}

.right-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-half img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste la taille de l'image pour qu'elle couvre entièrement la div */
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100% ;
    margin-bottom: 30px;

}

.text{
    color: #7900d4;
    font-size: 48px;
    font-weight: 700;
    margin-left:100px ;
}
.underline{
    width: 61px;
    height: 6px;
    background-color: #7900d4;
    border-radius: 9px;

}

.inputs{
    margin-top: 55 px;
    display: flex; 
    flex-direction: column;
    gap: 25px;
  margin-left:10px ;
}
.input{
    display:flex ;
    align-items:center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: #eaeaea;
    border-radius: 6px;
    margin-bottom: 5% ;
}

.input img{
    margin: 0px 30px;
}
.input input{
    height:50px;
    width: 400px;
    background: transparent;
    border:  none;
    outline: none;
    color: #797979;
    font-size: 19px;

}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px; 
}

.forgot-password span{
    color: #8854a444;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #7900d4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.submit1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #7900d4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 30%;
   
}
.d{
    margin-left:100px ;
} 


.frame {
    border: 2px solid #7900d4;
    border-radius: 10px;
    background-color: #ffff; /* Couleur de fond violette */
    padding: 30px; /* Ajouter un remplissage pour espacer le contenu du cadre */
    margin-left:100px ;
  }
  .password-image {
    max-width: 500px; /* Largeur maximale de l'image */
    max-height: 500px; /* Hauteur maximale de l'image */
    margin-left: 50%;
  } 
  
  